<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd">
 
 
 <bean class="package com.springcore.springcore2.SuryaBulb" id="sb"></bean>
 
 <bean class="package com.springcore.springcore2.LgBulb" id="lb"></bean>
 
 <bean class="package com.springcore.springcore2.BulbService" id="bs"></bean>
 
 <bean class="package com.springcore.springcore2.Bulb" id="b"></bean>
</beans>  